html {
  scroll-behavior: smooth;
}

* {
  overflow: hidden;
}

ul{
  li{
    margin-bottom: 60px;
      a{
          color: white;
          text-decoration: none;
          font-size: 60px;
      }
  }
}